.game-content{
    width: 728px;
    background-color: #fff;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.15);
    .title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 10px 0;
        border-bottom: 1px solid #e8e8e8;
        margin-bottom: 10px;
        background: #fbfbfb;
        border-bottom: 1px solid #e8e8e8;
        color: #666;
        font-size: 18px;
        h3{
            margin: 0;
            padding: 10px 0;
        }
        .slot{
            display: flex;
            align-items: center;
            .name{
                padding-right: 10px;
            }
            ul{
                display: flex;
                li{
                    height: 25px;
                    cursor: pointer;
                    line-height: 25px;
                    padding: 0 10px;
                    border-right: 1px solid #ccc;
                    &:last-child{
                        border:0
                    }
                }
            }
        }
    }
    .game-lists{
        display: flex;
        flex-wrap: wrap;
        li{
            width: 170px;
            height: 210px;
            text-align: center;
            margin: 6px;
            margin-bottom: 10px;
            cursor: pointer;
            transition: all 0.3s;
            &:hover{
                background: #f5f7fa;
            }
            .stars-box{
                display: flex;
                justify-content: center;
                margin-bottom: 5px;
                align-items: center;
            }
            .game-img{
                margin-bottom: 5px;
            }
            .game-name{
                margin-bottom: 5px;
                margin-bottom: 5px;
                display: inline-block;
                width: 90%;
                font-size: 13px;
                text-align: center;
                color: #666;
                font-weight: 600;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                
            }
            .dow-btn{
                color: #00A6ED;
            }
        }
    }
    .more{
        display: block;
        cursor: pointer;
        background: #fff;
        color: #777;
        text-decoration: none;
        width: 200px;
        margin: 0 auto 20px auto;
        margin-top: 20px;
        text-align: center;
        font-size: 16px;
        padding: 8px 0;
        box-shadow: 0 2px 3px 0 rgba(0,0,0,0.15);
    }
    
}