.left-nav{
    width: 300px;
    background-color: #fff;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.15);
    h4{
        height: 55px;
        line-height: 55px;
        color: #fff;
        background-color: #0f2a47;
        padding: 0 10px;
        margin: 0;
    }
    .menu-ist{
        .menu-title{
            height: 40px;
            display: flex;
            align-items: center;
            font-size: 14px;
            background-color: #fafafa;
            padding: 0 10px;
            color: #616161;
            i{
                width: 40px;
                height: 40px;
            }
            .icon-game{
                background: url('~@/static/img/gameicon.png') no-repeat center;
            }
            .icon-app{
                background: url('~@/static/img/appicon.png') no-repeat center;
            }
            .icon-new{
                background: url('~@/static/img/newicon.png') no-repeat center;
            }
        }
        .menu-list{
            padding: 10px 20px;
            display: flex;
            flex-wrap: wrap;
            li{
                cursor: pointer;
                padding: 5px 0;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 50%;
               
                a{
                    color: #666;
                    &:hover{
                        color: #1890ff;
                    }
                    
                }
                &.cur{
                    a{
                        color: #1890ff;
                    }
                }
            }
        }
    }
}